target/
.classpath
.factorypath
.project
.settings/
.vscode/
**/.antlr/
nb-configuration.xml
lipidmaps-normalized.tsv
swiss-lipids-normalized.tsv
parsers/src/main/antlr4/de/isas/lipidomics/palinom/swisslipids-names-Feb-10-2020.tsv.bak
